@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */

@layer base {
   @font-face {
      font-family: 'Euclid_re';
      font-display: swap;
      src: url('/Public/assets/fonts/Euclid_reg.woff2') format('woff2');
   }

   @font-face {
      font-family: 'Euclid_li';
      font-display: swap;
      src: url('/Public/assets/fonts/Euclid_Light.woff2') format('woff2');
   }

   @font-face {
      font-family: 'Noto_JP';
      font-display: swap;
      src: url('/Public/assets/fonts/NotoSansJP_reg.woff2') format('woff2');
   }

   @font-face {
      font-family: 'PlaywriteEN';
      font-display: swap;
      src: url('/Public/assets/fonts/PlaywriteEN_reg.woff2') format('woff2');
   }

   @font-face {
      font-family: 'raleway_re';
      font-display: swap;
      src: url('/Public/assets/fonts/Raleway-Regular.ttf') format('woff2');
   }

   @font-face {
      font-family: 'PlaywriteIN_re';
      font-display: swap;
      src: url('/Public/assets/fonts/PlaywriteIN_reg.woff2') format('woff2');
   }

   @font-face {
      font-family: 'Montserrat_Black';
      font-display: swap;
      src: url('/Public/assets/fonts/Montserrat_Black.woff2') format('woff2');
   }
}




* {
   background-color: rgba(var(--background));
}


/* default scrollbar  */
.custom-scrollbar {
   scrollbar-width: none;
   -ms-overflow-style: none;
   overflow-x: auto;
}

.custom-scrollbar::-webkit-scrollbar {
   display: none;
}

/* colors */
:root {
   --background: 9, 9, 22, 1;
   --accent-1: 0, 232, 162;
   --accent-2: 255, 241, 163;
   --accent-3: 255, 46, 64;
   --text-clr1: 0, 0, 0;
   --text-clr2: 172, 174, 169;
   --filled: 17, 22, 41;
}